In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
import plotly.graph_objects as go
import plotly.express as px

In [2]:
pd.set_option("max_rows", 100)
pd.set_option('display.max_columns', 100)
pd.set_option('display.float_format', '{:.2f}'.format)

In [3]:
# Read the cleaned file
df = pd.read_csv('preprocessing/SA_clean.csv')
df.shape

c:\program files\python38\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (27,32) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

(61870, 43)

In [4]:
#fig = px.line(df_t, x="Changed On", y="Gross value", title='Purchase trend')
#fig.show()

# PO With most items

In [5]:
df['Purch.Doc.'].value_counts().head(5)

1000007903    39
1000007705    37
1000007862    35
1000007659    34
2000013320    33
Name: Purch.Doc., dtype: int64

In [6]:
df[df['Purch.Doc.'] == 1000007903]

,Purch.Doc.,Item,Changed On,Short Text,Material,CoCd,Plnt,SLoc,Matl Group,PO Quantity,OUn,OPU,Eq. To,Net Price,Per,Net Value,Gross value,Overdel. Tol.,Underdel.Tol.,Item.1,BUn,Non-deductible,Price Date,Effective value,PTm,Net Weight,Un,Profit Ctr,Gross Weight,Volume,RShLi,MTyp,NCM Code,Reb.basis,Priority (Material Required Within),Ordered By,Approved By,Priority,Section,Indenter ID,Input Tax Credit,Order_yr,Order_mnth
40346,1000007903,10,2019-03-29,Bolero SLX,818630.00,9000,9110,PRJT,ASSETS,1.00,EA,EA,1,595581.41,1,595581.41,622925.41,0,0,0,EA,0.00,2019-01-08,0.00,0,0.00,NaN,9110,0.00,0.00,0,YCGM,8703,595581.41,0,54639,54651,Normal,0,54668,T3,2019,3
40347,1000007903,20,2019-03-29,Insurance,8900000.00,9000,9110,PRJT,SERVICE,1.00,EA,EA,0,40300.00,1,40300.00,40300.00,0,0,0,NaN,0.00,2019-01-08,0.00,0,0.00,NaN,9120,0.00,0.00,0,YROH,6305,40300.00,0,54639,54651,Normal,0,54668,NaN,2019,3
40348,1000007903,30,2019-03-29,T.R. & F.T.,8900000.00,9000,9110,PRJT,SERVICE,1.00,EA,EA,0,6100.00,1,6100.00,6100.00,0,0,0,NaN,0.00,2019-01-08,0.00,0,0.00,NaN,9120,0.00,0.00,0,YROH,6305,6100.00,0,54639,54651,Normal,0,54668,NaN,2019,3
40349,1000007903,40,2019-03-29,Bolero SLX,818630.00,9000,9110,PRJT,ASSETS,1.00,EA,EA,1,595581.41,1,595581.41,622925.41,0,0,0,EA,0.00,2019-01-08,0.00,0,0.00,NaN,9110,0.00,0.00,0,YCGM,8703,595581.41,0,54639,54651,Normal,0,54668,T3,2019,3
40350,1000007903,50,2019-03-29,Insurance,8900000.00,9000,9110,PRJT,SERVICE,1.00,EA,EA,0,40300.00,1,40300.00,40300.00,0,0,0,NaN,0.00,2019-01-08,0.00,0,0.00,NaN,9120,0.00,0.00,0,YROH,6305,40300.00,0,54639,54651,Normal,0,54668,NaN,2019,3
40351,1000007903,60,2019-03-29,T.R. & F.T.,8900000.00,9000,9110,PRJT,SERVICE,1.00,EA,EA,0,6100.00,1,6100.00,6100.00,0,0,0,NaN,0.00,2019-01-08,0.00,0,0.00,NaN,9120,0.00,0.00,0,YROH,6305,6100.00,0,54639,54651,Normal,0,54668,NaN,2019,3
40352,1000007903,70,2019-03-29,Bolero SLX,818630.00,9000,9110,PRJT,ASSETS,1.00,EA,EA,1,595581.41,1,595581.41,622925.41,0,0,0,EA,0.00,2019-01-08,0.00,0,0.00,NaN,9110,0.00,0.00,0,YCGM,8703,595581.41,0,54639,54651,Normal,0,54668,T3,2019,3
40353,1000007903,80,2019-03-29,Insurance,8900000.00,9000,9110,PRJT,SERVICE,1.00,EA,EA,0,40300.00,1,40300.00,40300.00,0,0,0,NaN,0.00,2019-01-08,0.00,0,0.00,NaN,9120,0.00,0.00,0,YROH,6305,40300.00,0,54639,54651,Normal,0,54668,NaN,2019,3
40354,1000007903,90,2019-03-29,T.R. & F.T.,8900000.00,9000,9110,PRJT,SERVICE,1.00,EA,EA,0,6100.00,1,6100.00,6100.00,0,0,0,NaN,0.00,2019-01-08,0.00,0,0.00,NaN,9120,0.00,0.00,0,YROH,6305,6100.00,0,54639,54651,Normal,0,54668,NaN,2019,3
40355,1000007903,100,2019-03-29,Bolero SLX,818630.00,9000,9110,PRJT,ASSETS,1.00,EA,EA,1,595581.41,1,595581.41,622925.41,0,0,0,EA,0.00,2019-01-08,0.00,0,0.00,NaN,9110,0.00,0.00,0,YCGM,8703,595581.41,0,54639,54651,Normal,0,54668,T3,2019,3
40356,1000007903,110,2019-03-29,Insurance,8900000.00,9000,9110,PRJT,SERVICE,1.00,EA,EA,0,40300.00,1,40300.00,40300.00,0,0,0,NaN,0.00,2019-01-08,0.00,0,0.00,NaN,9120,0.00,0.00,0,YROH,6305,40300.00,0,54639,54651,Normal,0,54668,NaN,2019,3
40357,1000007903,120,2019-03-29,T.R. & F.T.,8900000.00,9000,9110,PRJT,SERVICE,1.00,EA,EA,0,6100.00,1,6100.00,6100.00,0,0,0,NaN,0.00,2019-01-08,0.00,0,0.00,NaN,9120,0.00,0.00,0,YROH,6305,6100.00,0,54639,54651,Normal,0,54668,NaN,2019,3
40358,1000007903,130,2019-03-29,Bolero SLX,818630.00,9000,9110,PRJT,ASSETS,1.00,EA,EA,1,595581.41,1,595581.41,622925.41,0,0,0,EA,0.00,2019-01-08,0.00,0,0.00,NaN,9110,0.00,0.00,0,YCGM,8703,595581.41,0,54639,54651,Normal,0,54668,T3,2019,3
40359,1000007903,140,2019-03-29,Insurance,8900000.00,9000,9110,PRJT,SERVICE,1.00,EA,EA,0,40300.00,1,40300.00,40300.00,0,0,0,NaN,0.00,2019-01-08,0.00,0,0.00,NaN,9120,0.00,0.00,0,YROH,6305,40300.00,0,54639,54651,Normal,0,54668,NaN,2019,3
40360,1000007903,150,2019-03-29,T.R. & F.T.,8900000.00,9000,9110,PRJT,SERVICE,1.00,EA,EA,0,6100.00,1,6100.00,6100.00,0,0,0,NaN,0.00,2019-01-08,0.00,0,0.00,NaN,9120,0.00,0.00,0,YROH,6305,6100.00,0,54639,54651,Normal,0,54668,NaN,2019,3
40361,1000007903,160,2019-03-29,Bolero SLX,818630.00,9000,9110,PRJT,ASSETS,1.00,EA,EA,1,595581.41,1,595581.41,622925.41,0,0,0,EA,0.00,2019-01-08,0.00,0,0.00,NaN,9110,0.00,0.00,0,YCGM,8703,595581.41,0,54639,54651,Normal,0,54668,T3,2019,3
40362,1000007903,170,2019-03-29,Insurance,8900000.00,9000,9110,PRJT,SERVICE,1.00,EA,EA,0,40300.00,1,40300.00,40300.00,0,0,0,NaN,0.00,2019-01-08,0.00,0,0.00,NaN,9120,0.00,0.00,0,YROH,6305,40300.00,0,54639,54651,Normal,0,54668,NaN,2019,3
40363,1000007903,180,2019-03-29,T.R. & F.T.,8900000.00,9000,9110,PRJT,SERVICE,1.00,EA,EA,0,6100.00,1,6100.00,6100.00,0,0,0,NaN,0.00,2019-01-08,0.00,0,0.00,NaN,9120,0.00,0.00,0,YROH,6305,6100.00,0,54639,54651,Normal,0,54668,NaN,2019,3
40364,1000007903,190,2019-03-29,Bolero SLX,818630.00,9000,9110,PRJT,ASSETS,1.00,EA,EA,1,595581.41,1,595581.41,622925.41,0,0,0,EA,0.00,2019-01-08,0.00,0,0.00,NaN,9110,0.00,0.00,0,YCGM,8703,595581.41,0,54639,54651,Normal,0,54668,T3,2019,3
40365,1000007903,200,2019-03-29,Insurance,8900000.00,9000,9110,PRJT,SERVICE,1.00,EA,EA,0,40300.00,1,40300.00,40300.00,0,0,0,NaN,0.00,2019-01-08,0.00,0,0.00,NaN,9120,0.00,0.00,0,YROH,6305,40300.00,0,54639,54651,Normal,0,54668,NaN,2019,3
40366,1000007903,210,2019-03-29,T.R. & F.T.,8900000.00,9000,9110,PRJT,SERVICE,1.00,EA,EA,0,6100.00,1,6100.00,6100.00,0,0,0,NaN,0.00,2019-01-08,0.00,0,0.00,NaN,9120,0.00,0.00,0,YROH,6305,6100.00,0,54639,54651,Normal,0,54668,NaN,2019,3
40367,1000007903,220,2019-03-29,Bolero SLX,818630.00,9000,9110,PRJT,ASSETS,1.00,EA,EA,1,595581.41,1,595581.41,622925.41,0,0,0,EA,0.00,2019-01-08,0.00,0,0.00,NaN,9110,0.00,0.00,0,YCGM,8703,595581.41,0,54639,54651,Normal,0,54668,T3,2019,3
40368,1000007903,230,2019-03-29,Insurance,8900000.00,9000,9110,PRJT,SERVICE,1.00,EA,EA,0,40300.00,1,40300.00,40300.00,0,0,0,NaN,0.00,2019-01-08,0.00,0,0.00,NaN,9120,0.00,0.00,0,YROH,6305,40300.00,0,54639,54651,Normal,0,54668,NaN,2019,3
40369,1000007903,240,2019-03-29,T.R. & F.T.,8900000.00,9000,9110,PRJT,SERVICE,1.00,EA,EA,0,6100.00,1,6100.00,6100.00,0,0,0,NaN,0.00,2019-01-08,0.00,0,0.00,NaN,9120,0.00,0.00,0,YROH,6305,6100.00,0,54639,54651,Normal,0,54668,NaN,2019,3
40370,1000007903,250,2019-03-29,Bolero SLX,818630.00,9000,9110,PRJT,ASSETS,1.00,EA,EA,1,595581.41,1,595581.41,622925.41,0,0,0,EA,0.00,2019-01-08,0.00,0,0.00,NaN,9110,0.00,0.00,0,YCGM,8703,595581.41,0,54639,54651,Normal,0,54668,T3,2019,3
40371,1000007903,260,2019-03-29,Insurance,8900000.00,9000,9110,PRJT,SERVICE,1.00,EA,EA,0,40300.00,1,40300.00,40300.00,0,0,0,NaN,0.00,2019-01-08,0.00,0,0.00,NaN,9120,0.00,0.00,0,YROH,6305,40300.00,0,54639,54651,Normal,0,54668,NaN,2019,3
40372,1000007903,270,2019-03-29,T.R. & F.T.,8900000.00,9000,9110,PRJT,SERVICE,1.00,EA,EA,0,6100.00,1,6100.00,6100.00,0,0,0,NaN,0.00,2019-01-08,0.00,0,0.00,NaN,9120,0.00,0.00,0,YROH,6305,6100.00,0,54639,54651,Normal,0,54668,NaN,2019,3
40373,1000007903,280,2019-03-29,Bolero SLX,818630.00,9000,9110,PRJT,ASSETS,1.00,EA,EA,1,595581.41,1,595581.41,622925.41,0,0,0,EA,0.00,2019-01-08,0.00,0,0.00,NaN,9110,0.00,0.00,0,YCGM,8703,595581.41,0,54639,54651,Normal,0,54668,T3,2019,3
40374,1000007903,290,2019-03-29,Insurance,8900000.00,9000,9110,PRJT,SERVICE,1.00,EA,EA,0,40300.00,1,40300.00,40300.00,0,0,0,NaN,0.00,2019-01-08,0.00,0,0.00,NaN,9120,0.00,0.00,0,YROH,6305,40300.00,0,54639,54651,Normal,0,54668,NaN,2019,3
40375,1000007903,300,2019-03-29,T.R. & F.T.,8900000.00,9000,9110,PRJT,SERVICE,1.00,EA,EA,0,6100.00,1,6100.00,6100.00,0,0,0,NaN,0.00,2019-01-08,0.00,0,0.00,NaN,9120,0.00,0.00,0,YROH,6305,6100.00,0,54639,54651,Normal,0,54668,NaN,2019,3
40376,1000007903,310,2019-03-29,Bolero SLX,818630.00,9000,9110,PRJT,ASSETS,1.00,EA,EA,1,595581.41,1,595581.41,622925.41,0,0,0,EA,0.00,2019-01-08,0.00,0,0.00,NaN,9110,0.00,0.00,0,YCGM,8703,595581.41,0,54639,54651,Normal,0,54668,T3,2019,3
40377,1000007903,320,2019-03-29,Insurance,8900000.00,9000,9110,PRJT,SERVICE,1.00,EA,EA,0,40300.00,1,40300.00,40300.00,0,0,0,NaN,0.00,2019-01-08,0.00,0,0.00,NaN,9120,0.00,0.00,0,YROH,6305,40300.00,0,54639,54651,Normal,0,54668,NaN,2019,3
40378,1000007903,330,2019-03-29,T.R. & F.T.,8900000.00,9000,9110,PRJT,SERVICE,1.00,EA,EA,0,6100.00,1,6100.00,6100.00,0,0,0,NaN,0.00,2019-01-08,0.00,0,0.00,NaN,9120,0.00,0.00,0,YROH,6305,6100.00,0,54639,54651,Normal,0,54668,NaN,2019,3
40379,1000007903,340,2019-03-29,Bolero SLX,818630.00,9000,9110,PRJT,ASSETS,1.00,EA,EA,1,595581.41,1,595581.41,622925.41,0,0,0,EA,0.00,2019-01-08,0.00,0,0.00,NaN,9110,0.00,0.00,0,YCGM,8703,595581.41,0,54639,54651,Normal,0,54668,T3,2019,3
40380,1000007903,350,2019-03-29,Insurance,8900000.00,9000,9110,PRJT,SERVICE,1.00,EA,EA,0,40300.00,1,40300.00,40300.00,0,0,0,NaN,0.00,2019-01-08,0.00,0,0.00,NaN,9120,0.00,0.00,0,YROH,6305,40300.00,0,54639,54651,Normal,0,54668,NaN,2019,3
40381,1000007903,360,2019-03-29,T.R. & F.T.,8900000.00,9000,9110,PRJT,SERVICE,1.00,EA,EA,0,6100.00,1,6100.00,6100.00,0,0,0,NaN,0.00,2019-01-08,0.00,0,0.00,NaN,9120,0.00,0.00,0,YROH,6305,6100.00,0,54639,54651,Normal,0,54668,NaN,2019,3
40382,1000007903,370,2019-03-29,Bolero SLX,818630.00,9000,9110,PRJT,ASSETS,1.00,EA,EA,1,595581.41,1,595581.41,622925.41,0,0,0,EA,0.00,2019-01-08,0.00,0,0.00,NaN,9110,0.00,0.00,0,YCGM,8703,595581.41,0,54639,54651,Normal,0,54668,T3,2019,3
40383,1000007903,380,2019-03-29,Insurance,8900000.00,9000,9110,PRJT,SERVICE,1.00,EA,EA,0,40300.00,1,40300.00,40300.00,0,0,0,NaN,0.00,2019-01-08,0.00,0,0.00,NaN,9120,0.00,0.00,0,YROH,6305,40300.00,0,54639,54651,Normal,0,54668,NaN,2019,3
40384,1000007903,390,2019-03-29,T.R. & F.T.,8900000.00,9000,9110,PRJT,SERVICE,1.00,EA,EA,0,6100.00,1,6100.00,6100.00,0,0,0,NaN,0.00,2019-01-08,0.00,0,0.00,NaN,9120,0.00,0.00,0,YROH,6305,6100.00,0,54639,54651,Normal,0,54668,NaN,2019,3

# Gross Value by Year/Month

In [7]:
df.groupby(['Order_yr','Order_mnth'],as_index=False)['Gross value'].sum()

    Order_yr  Order_mnth    Gross value
0       2018           1       18000.00
1       2018           2        3000.00
2       2018           3        3000.00
3       2018           4      240783.00
4       2018           5       73373.00
5       2018           6      889376.53
6       2018           7     8504181.25
7       2018           8     2388576.12
8       2018           9    16003289.66
9       2018          10    23460606.60
10      2018          11     6744323.54
11      2018          12   777448750.66
12      2019           1 10635933454.66
13      2019           2  3778603220.01
14      2019           3  6380991448.72
15      2019           4  2328193986.10

In [8]:
# Gross Value by CoCd

In [9]:
dt = df.groupby(['CoCd'],as_index=False)['Gross value'].sum()
dt['Percent'] = (dt['Gross value']/dt['Gross value'].sum()) * 100
dt = dt.sort_values(by=['Gross value'],ascending =False)
dt

   CoCd    Gross value  Percent
2  7860 16195608304.33    67.60
4  9000  7479630106.00    31.22
0  4500   118383012.19     0.49
1  7000    97344247.33     0.41
3  8000    68533700.00     0.29

In [10]:
#dt.to_excel('reports/CoCdGrossValue.xlsx', index=False)

In [11]:
dt = df.groupby(['CoCd' , 'Order_yr'],as_index=False)['Gross value'].sum()
dt

   CoCd  Order_yr    Gross value
0  4500      2018    12052985.54
1  4500      2019   106330026.65
2  7000      2018     1306874.21
3  7000      2019    96037373.12
4  7860      2018    50211054.00
5  7860      2019 16145397250.33
6  8000      2019    68533700.00
7  9000      2018   772206346.61
8  9000      2019  6707423759.39

In [12]:
#dt.to_excel('reports/CoCdByYearGrossValue.xlsx', index=False)

In [13]:
# Top n by X - get % of total Y

In [14]:
# Function for TopN ( Takes inout as df, col on  which we want top n, col to aggregate, and the top n number)
# Returns the topn data frame
def func_calc_topN(df,groupByCol,aggCol,topN):
    dt = df.groupby(groupByCol,as_index=False)[aggCol].sum()
    dt = dt.sort_values([aggCol],ascending=False)
    dt.reset_index(drop=True, inplace=True)
    dt['Percent'] = (dt[aggCol]/dt[aggCol].sum()) * 100
    dt['Percent_cum_sum'] = dt['Percent'].cumsum()
    return(dt.head(topN))

In [15]:
dt = func_calc_topN(df,'Short Text','Gross value',24)
dt

                          Short Text   Gross value  Percent  Percent_cum_sum
0      IB Ross Broiler Finisher Feed 2484004973.38    10.37            10.37
1       IB Ross Broiler Starter Feed 1832625208.50     7.65            18.02
2                   Soya Bean - (MP) 1296246620.39     5.41            23.43
3                    B4 IB Ross Feed 1054080000.00     4.40            27.83
4                    Soya Bean - (A) 1041177465.28     4.35            32.17
5                              Maize  929928411.41     3.88            36.05
6   IB Ross Broiler Pre-Starter Feed  881006742.00     3.68            39.73
7                               PL-3  836547216.05     3.49            43.22
8                    B1 IB Ross Feed  820581512.40     3.42            46.65
9                               PL-4  817984426.00     3.41            50.06
10                           Feed P1  788459684.20     3.29            53.35
11                              PL-5  665772945.15     2.78            56.13
12                   B3 IB Ross Feed  636587726.50     2.66            58.79
13                   B2 IB Ross Feed  631991204.70     2.64            61.42
14                         GP-5 Feed  548267645.75     2.29            63.71
15                         Soya Bean  542905344.06     2.27            65.98
16               Grand Parents Layer  531899454.55     2.22            68.20
17                           Feed PS  486108038.55     2.03            70.23
18                           Khandha  477715289.41     1.99            72.22
19              Grand Parents Grower  423651274.20     1.77            73.99
20                         GP-4 Feed  419359019.25     1.75            75.74
21                                C2  369002000.00     1.54            77.28
22         Soya Crude Oil - Purchase  347114889.25     1.45            78.73
23             Grand Parents Starter  313953033.95     1.31            80.04

In [16]:
# Top 24 80% of all Gross,  are feed related items

In [17]:
top_24_mat = dt['Short Text'].values
top_24_mat

array(['IB Ross Broiler Finisher Feed', 'IB Ross Broiler Starter Feed',
       'Soya Bean - (MP)', 'B4 IB Ross Feed', 'Soya Bean - (A)', 'Maize',
       'IB Ross Broiler Pre-Starter Feed', 'PL-3', 'B1 IB Ross Feed',
       'PL-4', 'Feed P1', 'PL-5', 'B3 IB Ross Feed', 'B2 IB Ross Feed',
       'GP-5 Feed', 'Soya Bean', 'Grand Parents Layer', 'Feed PS',
       'Khandha', 'Grand Parents Grower', 'GP-4 Feed', 'C2',
       'Soya Crude Oil - Purchase', 'Grand Parents Starter'], dtype=object)

In [18]:
#By Material Group
dt = func_calc_topN(df,'Matl Group','Gross value',10)
dt

  Matl Group    Gross value  Percent  Percent_cum_sum
0       1500 15742364466.26    65.70            65.70
1       2003  2967760654.36    12.39            78.09
2       2211  1995947170.78     8.33            86.42
3       2007   754316190.33     3.15            89.57
4       2353   396208137.27     1.65            91.22
5       2209   243225000.00     1.02            92.24
6       1330   186572705.69     0.78            93.02
7       2006   141156279.85     0.59            93.61
8    SERVICE   135345737.71     0.56            94.17
9       1405   122183914.13     0.51            94.68

In [19]:
df['Gross value'].describe()

count       61870.00
mean       387255.53
std       2304651.40
min             0.90
25%         10000.00
50%         98411.15
75%        288600.00
max     212000000.00
Name: Gross value, dtype: float64

# Which PO has maximum items in it - minus assets and services.

In [20]:
df['Purch.Doc.'].value_counts().head(5)

1000007903    39
1000007705    37
1000007862    35
1000007659    34
2000013320    33
Name: Purch.Doc., dtype: int64

In [21]:
df[df['Purch.Doc.'] == 1000007903][['Purch.Doc.','Changed On', 'Short Text','CoCd','PO Quantity','Net Price','Gross value']]

,Purch.Doc.,Changed On,Short Text,CoCd,PO Quantity,Net Price,Gross value
40346,1000007903,2019-03-29,Bolero SLX,9000,1.00,595581.41,622925.41
40347,1000007903,2019-03-29,Insurance,9000,1.00,40300.00,40300.00
40348,1000007903,2019-03-29,T.R. & F.T.,9000,1.00,6100.00,6100.00
40349,1000007903,2019-03-29,Bolero SLX,9000,1.00,595581.41,622925.41
40350,1000007903,2019-03-29,Insurance,9000,1.00,40300.00,40300.00
40351,1000007903,2019-03-29,T.R. & F.T.,9000,1.00,6100.00,6100.00
40352,1000007903,2019-03-29,Bolero SLX,9000,1.00,595581.41,622925.41
40353,1000007903,2019-03-29,Insurance,9000,1.00,40300.00,40300.00
40354,1000007903,2019-03-29,T.R. & F.T.,9000,1.00,6100.00,6100.00
40355,1000007903,2019-03-29,Bolero SLX,9000,1.00,595581.41,622925.41
40356,1000007903,2019-03-29,Insurance,9000,1.00,40300.00,40300.00
40357,1000007903,2019-03-29,T.R. & F.T.,9000,1.00,6100.00,6100.00
40358,1000007903,2019-03-29,Bolero SLX,9000,1.00,595581.41,622925.41
40359,1000007903,2019-03-29,Insurance,9000,1.00,40300.00,40300.00
40360,1000007903,2019-03-29,T.R. & F.T.,9000,1.00,6100.00,6100.00
40361,1000007903,2019-03-29,Bolero SLX,9000,1.00,595581.41,622925.41
40362,1000007903,2019-03-29,Insurance,9000,1.00,40300.00,40300.00
40363,1000007903,2019-03-29,T.R. & F.T.,9000,1.00,6100.00,6100.00
40364,1000007903,2019-03-29,Bolero SLX,9000,1.00,595581.41,622925.41
40365,1000007903,2019-03-29,Insurance,9000,1.00,40300.00,40300.00
40366,1000007903,2019-03-29,T.R. & F.T.,9000,1.00,6100.00,6100.00
40367,1000007903,2019-03-29,Bolero SLX,9000,1.00,595581.41,622925.41
40368,1000007903,2019-03-29,Insurance,9000,1.00,40300.00,40300.00
40369,1000007903,2019-03-29,T.R. & F.T.,9000,1.00,6100.00,6100.00
40370,1000007903,2019-03-29,Bolero SLX,9000,1.00,595581.41,622925.41
40371,1000007903,2019-03-29,Insurance,9000,1.00,40300.00,40300.00
40372,1000007903,2019-03-29,T.R. & F.T.,9000,1.00,6100.00,6100.00
40373,1000007903,2019-03-29,Bolero SLX,9000,1.00,595581.41,622925.41
40374,1000007903,2019-03-29,Insurance,9000,1.00,40300.00,40300.00
40375,1000007903,2019-03-29,T.R. & F.T.,9000,1.00,6100.00,6100.00
40376,1000007903,2019-03-29,Bolero SLX,9000,1.00,595581.41,622925.41
40377,1000007903,2019-03-29,Insurance,9000,1.00,40300.00,40300.00
40378,1000007903,2019-03-29,T.R. & F.T.,9000,1.00,6100.00,6100.00
40379,1000007903,2019-03-29,Bolero SLX,9000,1.00,595581.41,622925.41
40380,1000007903,2019-03-29,Insurance,9000,1.00,40300.00,40300.00
40381,1000007903,2019-03-29,T.R. & F.T.,9000,1.00,6100.00,6100.00
40382,1000007903,2019-03-29,Bolero SLX,9000,1.00,595581.41,622925.41
40383,1000007903,2019-03-29,Insurance,9000,1.00,40300.00,40300.00
40384,1000007903,2019-03-29,T.R. & F.T.,9000,1.00,6100.00,6100.00

In [22]:
matlGrp = ['ASSETS','SERVICE']
matlGrp

['ASSETS', 'SERVICE']

In [23]:
df[~df['Matl Group'].isin(matlGrp)]['Purch.Doc.'].value_counts().head(5)

1000007705    37
1000007862    35
1000007659    34
2000013320    32
9200094720    31
Name: Purch.Doc., dtype: int64

In [24]:
df[df['Purch.Doc.'] == 1000007705][['Purch.Doc.','Changed On', 'Short Text','CoCd','PO Quantity','Net Price','Gross value']]

,Purch.Doc.,Changed On,Short Text,CoCd,PO Quantity,Net Price,Gross value
10777,1000007705,2019-02-11,Gland 16Mm,9000,800.00,18.20,22400.00
10778,1000007705,2019-02-11,Gland 19Mm,9000,650.00,20.80,20800.00
10779,1000007705,2019-02-11,Gland 22 Mm,9000,100.00,27.95,4300.00
10780,1000007705,2019-02-11,Gland 25 Mm,9000,100.00,31.85,4900.00
10781,1000007705,2019-02-11,Gland 28 Mm,9000,30.00,47.45,2190.00
10782,1000007705,2019-02-11,Gland 35 Mm,9000,30.00,71.50,3300.00
10783,1000007705,2019-02-11,Gland 38 Mm,9000,30.00,86.45,3990.00
10784,1000007705,2019-02-11,Gland 45 Mm,9000,20.00,107.25,3300.00
10785,1000007705,2019-02-11,Gland 57 Mm,9000,10.00,178.75,2750.00
10786,1000007705,2019-02-11,Gland 63 Mm,9000,40.00,211.25,13000.00
10787,1000007705,2019-02-11,Gland 70 Mm,9000,60.00,252.20,23280.00
10788,1000007705,2019-02-11,Copper Lugs Pin 0.5 Sqmm,9000,10000.00,0.51,7600.00
10789,1000007705,2019-02-11,Copper Lugz Pin Insulated 0.75 Sqmm,9000,5000.00,0.51,3800.00
10790,1000007705,2019-02-11,Copper Lugz Pin 1 Mm,9000,2000.00,0.56,1660.00
10791,1000007705,2019-02-11,Copper Lugz Pin Insulated 1.5 Sqmm,9000,2000.00,0.56,1660.00
10792,1000007705,2019-02-11,Copper Lugz Pin 2.5 Mm,9000,1000.00,0.61,900.00
10793,1000007705,2019-02-11,Copper Lugz Pin 1.5 Mm,9000,2000.00,1.08,3200.00
10794,1000007705,2019-02-11,Copper Lugz Pin 2.5 Mm,9000,1000.00,1.08,1600.00
10795,1000007705,2019-02-11,Copper Lugz Pin 4 Mm,9000,500.00,2.04,1510.00
10796,1000007705,2019-02-11,Copper Lugz Pin 6 Mm,9000,500.00,2.21,1640.00
10797,1000007705,2019-02-11,Copper Lugz Pin 16 Mm,9000,300.00,5.31,2358.00
10798,1000007705,2019-02-11,Copper Lugz Ring 1.5 Mm,9000,1000.00,1.55,2290.00
10799,1000007705,2019-02-11,Copper Lugz Ring 2.5 Mm,9000,1000.00,1.28,1890.00
10800,1000007705,2019-02-11,Copper Lugz Ring 4 Mm,9000,1000.00,2.27,3360.00
10801,1000007705,2019-02-11,Copper Lugz Ring 6 Mm,9000,2000.00,2.27,6720.00
10802,1000007705,2019-02-11,Copper Lugz Ring 6 Mm,9000,1000.00,3.46,5130.00
10803,1000007705,2019-02-11,Copper Lugz Ring 16 Mm,9000,500.00,5.73,4245.00
10804,1000007705,2019-02-11,Copper Lugz Ring 25 Mm,9000,300.00,15.13,6726.00
10805,1000007705,2019-02-11,Copper Lugz Ring 35 Mm,9000,200.00,19.45,5764.00
10806,1000007705,2019-02-11,Alluminium Lugz Ring 16 Mm,9000,200.00,2.03,602.00
10807,1000007705,2019-02-11,Alluminium Lugz Ring 25 Mm,9000,100.00,2.66,394.00
10808,1000007705,2019-02-11,Alluminium Lugz Ring 35 Mm,9000,100.00,3.51,520.00
10809,1000007705,2019-02-11,Alluminium Lugz Ring 50 Mm,9000,100.00,5.33,789.00
10810,1000007705,2019-02-11,Alluminium Lugz Ring 70 Mm,9000,200.00,7.97,2362.00
10811,1000007705,2019-02-11,Alluminium Lugz Ring 95 Mm,9000,50.00,8.80,652.00
10812,1000007705,2019-02-11,Alluminium Lugz Ring 240 Mm,9000,150.00,34.07,7572.00
10813,1000007705,2019-02-11,Alluminium Lugz Ring 300 Mm,9000,200.00,47.85,14178.00

# Get feed related PO with max items

# Get top  24 Mats...

In [25]:
top_24_mat

array(['IB Ross Broiler Finisher Feed', 'IB Ross Broiler Starter Feed',
       'Soya Bean - (MP)', 'B4 IB Ross Feed', 'Soya Bean - (A)', 'Maize',
       'IB Ross Broiler Pre-Starter Feed', 'PL-3', 'B1 IB Ross Feed',
       'PL-4', 'Feed P1', 'PL-5', 'B3 IB Ross Feed', 'B2 IB Ross Feed',
       'GP-5 Feed', 'Soya Bean', 'Grand Parents Layer', 'Feed PS',
       'Khandha', 'Grand Parents Grower', 'GP-4 Feed', 'C2',
       'Soya Crude Oil - Purchase', 'Grand Parents Starter'], dtype=object)

In [26]:
df[df['Short Text'].isin(top_24_mat)].shape

(31929, 43)

In [27]:
df[df['Short Text'].isin(top_24_mat)]['Purch.Doc.'].value_counts().head()

7600179103    9
7600182497    8
7600177540    8
7600176890    8
7600178238    8
Name: Purch.Doc., dtype: int64

In [28]:
df[df['Purch.Doc.'] == 7600179103][['Purch.Doc.','Changed On', 'Short Text','CoCd','PO Quantity','Net Price','Gross value']]

,Purch.Doc.,Changed On,Short Text,CoCd,PO Quantity,Net Price,Gross value
27993,7600179103,2019-04-09,IB Ross Broiler Pre-Starter Feed,7860,222000.00,33.15,7359300.00
27994,7600179103,2019-04-09,IB Ross Broiler Starter Feed,7860,420000.00,31.80,13356000.00
27995,7600179103,2019-04-09,IB Ross Broiler Finisher Feed,7860,508447.00,30.74,15629660.78
27996,7600179103,2019-04-09,IB Ross Broiler Pre-Starter Feed,7860,92500.00,33.15,3066375.00
27997,7600179103,2019-04-09,IB Ross Broiler Starter Feed,7860,175000.00,31.80,5565000.00
27998,7600179103,2019-04-09,IB Ross Broiler Finisher Feed,7860,211853.00,30.74,6512361.22
27999,7600179103,2019-04-09,IB Ross Broiler Pre-Starter Feed,7860,55500.00,33.15,1839825.00
28000,7600179103,2019-04-09,IB Ross Broiler Starter Feed,7860,105000.00,31.80,3339000.00
28001,7600179103,2019-04-09,IB Ross Broiler Finisher Feed,7860,127112.00,30.74,3907422.88

In [29]:
df[df['Short Text'].isin(top_24_mat)]['Purch.Doc.'].value_counts().tail()

9100304914    1
9100312135    1
7600182591    1
9400136224    1
7600185272    1
Name: Purch.Doc., dtype: int64

# Q How many PO have only Single items in it

In [30]:
dt = pd.DataFrame(df[df['Short Text'].isin(top_24_mat)]['Purch.Doc.'].value_counts())
dt.reset_index(inplace=True)
dt.columns = ['PoNumber','NumItems']
dt.head()

     PoNumber  NumItems
0  7600179103         9
1  7600182497         8
2  7600177540         8
3  7600176890         8
4  7600178238         8

In [31]:
df[df['Short Text'].isin(top_24_mat)]['Purch.Doc.'].nunique()

21696

In [32]:
dt.shape

(21696, 2)

In [33]:
dt.tail()

         PoNumber  NumItems
21691  9100304914         1
21692  9100312135         1
21693  7600182591         1
21694  9400136224         1
21695  7600185272         1

In [34]:
# Count how many are 1
dt[dt['NumItems'] == 1].shape[0]/dt.shape[0]

0.6938145280235988

In [35]:
# Count how many are > 1
dt[dt['NumItems'] > 1].shape[0]/dt.shape[0]

0.30618547197640117

In [36]:
df[['Purch.Doc.','Changed On', 'Short Text','CoCd','PO Quantity','Net Price','Gross value']].head()

,Purch.Doc.,Changed On,Short Text,CoCd,PO Quantity,Net Price,Gross value
0,7600174848,2019-01-01,IB Ross Broiler Finisher Feed,7860,23000.00,27.82,639860.00
1,7600174849,2019-01-01,IB Ross Broiler Finisher Feed,7860,18000.00,27.82,500760.00
2,7600174850,2019-01-01,IB Ross Broiler Finisher Feed,7860,19000.00,27.82,528580.00
3,7600174851,2019-01-01,IB Ross Broiler Pre-Starter Feed,7860,15000.00,29.36,440400.00
4,7600174851,2019-01-01,IB Ross Broiler Starter Feed,7860,7000.00,28.20,197400.00

# Get the cluster names

In [37]:
df.columns

Index(['Purch.Doc.', 'Item', 'Changed On', 'Short Text', 'Material', 'CoCd',
       'Plnt', 'SLoc', 'Matl Group', 'PO Quantity', 'OUn', 'OPU', 'Eq. To',
       'Net Price', 'Per', 'Net Value', 'Gross value', 'Overdel. Tol.',
       'Underdel.Tol.', 'Item.1', 'BUn', 'Non-deductible', 'Price Date',
       'Effective value', 'PTm', 'Net Weight', 'Un', 'Profit Ctr',
       'Gross Weight', 'Volume', 'RShLi', 'MTyp', 'NCM Code', 'Reb.basis',
       'Priority (Material Required Within)', 'Ordered By', 'Approved By',
       'Priority', 'Section', 'Indenter ID', 'Input Tax Credit', 'Order_yr',
       'Order_mnth'],
      dtype='object')

In [38]:
# ls preprocessing

In [39]:
# Read the cleaned file
df = pd.read_csv('preprocessing/SA_clean_withClusterResults.csv')
df.shape

c:\program files\python38\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (27,32) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

(61870, 47)

In [40]:
df['Cluster_km'].value_counts(dropna=False)

1.00    21692
0.00    21584
2.00    14829
3.00     1920
NaN      1845
Name: Cluster_km, dtype: int64

In [41]:
#df['Cluster_names'] = np.where('Cluster_km' = 0,'4 Very Low Freq Very Low Value'
col = 'Cluster_km'
conditions = [df[col] == 0, df[col] == 1, df[col] == 2,df[col] == 3 ]
choices     = ['4 Very Low Freq Very Low Value','2 Medium Freq Medium Value','1 High Freq High Value','3 Low Freq Low Value']
df['Cluster_names'] = np.select(conditions, choices, default='5 Not Clustered')
df['Cluster_names'].value_counts(dropna=False)

2 Medium Freq Medium Value        21692
4 Very Low Freq Very Low Value    21584
1 High Freq High Value            14829
3 Low Freq Low Value               1920
5 Not Clustered                    1845
Name: Cluster_names, dtype: int64

# Check for all items without any filtering

In [42]:
dt = pd.DataFrame(df['Purch.Doc.'].value_counts())
dt.reset_index(inplace=True)
dt.columns = ['PoNumber','NumItems']

In [43]:
# Count how many are 1
round(dt[dt['NumItems'] == 1].shape[0]/dt.shape[0] * 100,1)

76.4

In [44]:
# Count how many are > 1
round(dt[dt['NumItems'] > 1].shape[0]/dt.shape[0] * 100,1)

23.6

# Check how many PO are single for clusters 1 and 2.
1 High Freq High Value','2 Medium Freq Medium Value'

In [45]:
df[df['Cluster_names'].isin(['1 High Freq High Value','2 Medium Freq Medium Value'])].shape

(36521, 48)

In [46]:
dt = pd.DataFrame(df[df['Cluster_names'].isin(['1 High Freq High Value','2 Medium Freq Medium Value'])]['Purch.Doc.'].value_counts())
dt.reset_index(inplace=True)
dt.columns = ['PoNumber','NumItems']

In [47]:
# Count how many are 1
round(dt[dt['NumItems'] == 1].shape[0]/dt.shape[0] * 100,1)

75.6

In [48]:
# Count how many are > 1
round(dt[dt['NumItems'] > 1].shape[0]/dt.shape[0] * 100,1)

24.4

In [49]:
# Get Materials for top 2 clusters 
#top_24_mat
pd.DataFrame(df[df['Cluster_names'].isin(['1 High Freq High Value','2 Medium Freq Medium Value'])]).shape

(36521, 48)

In [50]:
mat_in_2_Cluster = pd.DataFrame(df[df['Cluster_names'].isin(['1 High Freq High Value','2 Medium Freq Medium Value'])])['Short Text'].unique()
mat_in_2_Cluster

array(['IB Ross Broiler Finisher Feed',
       'IB Ross Broiler Pre-Starter Feed', 'IB Ross Broiler Starter Feed',
       'Soya Bean - (A)', 'Soya Bean - (MP)', 'Soya Bean',
       'Rice Bran Raw', 'Rice Bran Boiled', 'Maize'], dtype=object)

# Month wise top item

In [51]:
dt = df.groupby(['Order_yr','Order_mnth','Short Text'])['Gross value'].sum().reset_index(name='Gross value')
dt

       Order_yr  Order_mnth                          Short Text  Gross value
0          2018           1                           Dry Paira     18000.00
1          2018           2                           Dry Paira      3000.00
2          2018           3                    Mixer Arm JB300F      3000.00
3          2018           4              Brewers Yeast (Golden)     22000.00
4          2018           4  Labour Charges For Carpainter Work     13000.00
...         ...         ...                                 ...          ...
10209      2019           4               Water Tank - 500 Ltr.     72884.00
10210      2019           4                      Water Tank Lid      2058.80
10211      2019           4                           X-Nel 4gm     50250.00
10212      2019           4                       Zinc Sulphate   6012948.35
10213      2019           4   self tapping screw 8*3/8"(PB3171)       230.00

[10214 rows x 4 columns]

In [52]:
dt = dt.sort_values('Gross value', ascending=False).drop_duplicates(['Order_yr','Order_mnth'])
dt = dt.sort_values(['Order_yr','Order_mnth'], ascending=[True,True])
dt

,Order_yr,Order_mnth,Short Text,Gross value
0,2018,1,Dry Paira,18000.00
1,2018,2,Dry Paira,3000.00
2,2018,3,Mixer Arm JB300F,3000.00
5,2018,4,Surveillance Fees - Credit Rating,205783.00
6,2018,5,AMC for ATLAS Copco Compressor with Drye,73373.00
8,2018,6,Consultancy Services for detailed design,500000.00
16,2018,7,"Tata LPK 1615/36, BS-IV",8300781.25
34,2018,8,Dzire ZDI - White,601464.12
54,2018,9,Erection & Fabrication charges of,5399137.00
91,2018,10,Civil work,21736280.00
190,2018,11,PP Bag Maintenance 24/3 4mm (24''x44''),1692000.00
861,2018,12,Maize,209930484.44
2801,2019,1,IB Ross Broiler Finisher Feed,822027774.70
5758,2019,2,IB Ross Broiler Finisher Feed,791427794.80
8633,2019,3,IB Ross Broiler Finisher Feed,840746559.00
9973,2019,4,B4 IB Ross Feed,225520000.00